.version.index /* version checker */
{
	color: #0000F9;
	background-color: #E75876;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#page
{
	background-color: transparent;
	z-index: 1;
	margin-right: auto;
	border-color: #000000;
	margin-left: auto;
	width: 100%;
	border-width: 0px;
	background-image: none;
}

#pu385
{
	width: 100%;
}

#u385,#u385-bw
{
	height: 449px;
	z-index: 6;
}

#u118-4
{
	min-height: 46px;
	font-weight: 400;
	z-index: 9;
	position: relative;
	color: #00EDFF;
	font-size: 36px;
	text-align: center;
	font-family: bebas-neue, sans-serif;
	background-color: transparent;
	line-height: 43px;
}

#u409,#u409-bw
{
	z-index: 7;
}

#u125
{
	z-index: 8;
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF53718B', endColorstr='#FF6D4689', GradientType=1)";
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF53718B, endColorstr=#FF6D4689, GradientType=1);
	background-size: 100% auto;
}

#u125_align_to_page
{
	margin-right: auto;
	margin-left: auto;
	position: relative;
}

#u122-4
{
	font-weight: 400;
	z-index: 13;
	position: relative;
	min-height: 46px;
	font-size: 36px;
	text-align: center;
	font-family: bebas-neue, sans-serif;
	background-color: transparent;
	line-height: 43px;
	color: #E74C3C;
}

#u128-4
{
	min-height: 46px;
	font-weight: 400;
	z-index: 17;
	position: relative;
	color: #FFFFFF;
	font-size: 36px;
	text-align: center;
	font-family: bebas-neue, sans-serif;
	background-color: transparent;
	line-height: 43px;
}

#u763
{
	background-color: transparent;
	z-index: 29;
	background-position: center center;
	background-repeat: no-repeat;
	position: relative;
	height: 356px;
	background-size: contain;
}

#u142-4
{
	font-weight: 400;
	z-index: 21;
	position: relative;
	min-height: 49px;
	font-size: 36px;
	font-family: bebas-neue, sans-serif;
	background-color: transparent;
	line-height: 43px;
	color: #E64C3C;
}

#u148-4
{
	font-weight: 400;
	z-index: 25;
	position: relative;
	min-height: 49px;
	font-size: 36px;
	font-family: bebas-neue, sans-serif;
	background-color: transparent;
	line-height: 43px;
	color: #E64C3C;
}

#u1464
{
	background-color: transparent;
	z-index: 30;
	background-position: center center;
	background-repeat: no-repeat;
	position: relative;
	height: 356px;
	background-size: contain;
}

#u1473
{
	background-color: transparent;
	z-index: 31;
	background-position: center center;
	background-repeat: no-repeat;
	position: relative;
	height: 356px;
	background-size: contain;
}

#u1485
{
	background-color: transparent;
	z-index: 32;
	background-position: center center;
	background-repeat: no-repeat;
	position: relative;
	height: 356px;
	background-size: contain;
}

#u1497
{
	background-color: transparent;
	z-index: 33;
	background-position: center center;
	background-repeat: no-repeat;
	position: relative;
	height: 356px;
	background-size: contain;
}

#u1509
{
	background-color: transparent;
	z-index: 34;
	background-position: center center;
	background-repeat: no-repeat;
	position: relative;
	height: 356px;
	background-size: contain;
}

#u125-bw
{
	z-index: 8;
}

#u114-4
{
	min-height: 28px;
	z-index: 2;
	position: relative;
}

.html
{
	background-color: #212121;
}

body
{
	position: relative;
}

@media (min-width: 323px)
{
	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 1203px;
		padding-bottom: 81px;
		max-width: 960px;
	}

	#u409,#u409-bw
	{
		height: 443px;
	}

	#u118-4
	{
		margin-top: 17px;
		width: 95.94%;
		margin-left: 2.09%;
	}

	#u125
	{
		min-height: 2579.8999999999996px;
		background: -webkit-gradient(linear, left center, right center, from(#53718B),color-stop(100%, #6D4689));
		background: -webkit-linear-gradient(left,#53718B ,#6D4689 100%);
		background: linear-gradient(to right,#53718B ,#6D4689 100%);
		padding-bottom: 0px;
	}

	#u125_align_to_page
	{
		max-width: 960px;
		padding-top: 12px;
		padding-bottom: 50px;
	}

	#u122-4
	{
		width: 95.94%;
		left: 1.98%;
	}

	#u128-4
	{
		margin-top: 14px;
		width: 95.94%;
		left: 1.98%;
	}

	#u763
	{
		background-image: url("../images/imagen.jpg");
		width: 95.94%;
		left: 1.98%;
	}

	#u142-4,#u148-4
	{
		margin-top: 17px;
		width: 94.17%;
		left: 3.75%;
	}

	#u1464
	{
		background-image: url("../images/imagen1.jpg");
		margin-top: 28px;
		width: 95.94%;
		left: 1.98%;
	}

	#u1473
	{
		background-image: url("../images/imagen2.jpg");
		margin-top: 28px;
		width: 95.94%;
		left: 1.98%;
	}

	#u1485
	{
		background-image: url("../images/imagen3.jpg");
		margin-top: 27px;
		width: 95.94%;
		left: 1.98%;
	}

	#u1497
	{
		background-image: url("../images/imagen4.jpg");
		margin-top: 31px;
		width: 95.94%;
		left: 1.98%;
	}

	#u1509
	{
		background-image: url("../images/imagen5.jpg");
		margin-top: 30px;
		width: 95.94%;
		left: 1.98%;
	}

	#u125-bw
	{
		min-height: 2579.8999999999996px;
		margin-top: 18px;
	}

	#u114-4
	{
		margin-top: 56px;
		width: 95.84%;
		margin-left: 2.09%;
	}
}

@media (min-width: 321px) and (max-width: 322px)
{
	#muse_css_mq
	{
		background-color: #000142;
	}

	#bp_322.active
	{
		display: block;
	}

	#page
	{
		min-height: 1196px;
		padding-bottom: 88px;
		max-width: 322px;
	}

	#u409,#u409-bw
	{
		height: 443px;
	}

	#u118-4
	{
		margin-top: 17px;
		width: 95.97%;
		margin-left: 2.18%;
	}

	#u125
	{
		min-height: 2693.8999999999996px;
		background: -webkit-gradient(linear, left center, right center, from(#53718B),color-stop(100%, #6D4689));
		background: -webkit-linear-gradient(left,#53718B ,#6D4689 100%);
		background: linear-gradient(to right,#53718B ,#6D4689 100%);
		padding-bottom: 0px;
	}

	#u125_align_to_page
	{
		max-width: 322px;
		padding-top: 12px;
		padding-bottom: 50px;
	}

	#u122-4
	{
		width: 95.97%;
		left: 1.87%;
	}

	#u128-4
	{
		margin-top: 14px;
		width: 95.97%;
		left: 1.87%;
	}

	#u763
	{
		background-image: url("../images/imagen-u763-fr.jpg");
		width: 95.97%;
		left: 1.87%;
	}

	#u142-4,#u148-4
	{
		margin-top: 17px;
		width: 94.1%;
		left: 3.73%;
	}

	#u1464
	{
		background-image: url("../images/imagen1-u1464-fr.jpg");
		margin-top: 28px;
		width: 95.97%;
		left: 1.87%;
	}

	#u1473
	{
		background-image: url("../images/imagen2-u1473-fr.jpg");
		margin-top: 28px;
		width: 95.97%;
		left: 1.87%;
	}

	#u1485
	{
		background-image: url("../images/imagen3-u1485-fr.jpg");
		margin-top: 27px;
		width: 95.97%;
		left: 1.87%;
	}

	#u1497
	{
		background-image: url("../images/imagen4-u1497-fr.jpg");
		margin-top: 31px;
		width: 95.97%;
		left: 1.87%;
	}

	#u1509
	{
		background-image: url("../images/imagen5-u1509-fr.jpg");
		margin-top: 30px;
		width: 95.97%;
		left: 1.87%;
	}

	#u125-bw
	{
		min-height: 2693.8999999999996px;
		margin-top: 18px;
	}

	#u114-4
	{
		margin-top: 49px;
		width: 84.48%;
		margin-left: 9.01%;
	}
}

@media (max-width: 320px)
{
	#muse_css_mq
	{
		background-color: #000140;
	}

	#bp_320.active
	{
		display: block;
	}

	#page
	{
		min-height: 1196px;
		padding-bottom: 88px;
		max-width: 320px;
	}

	#u409_align_to_page
	{
		margin-left: auto;
		margin-right: auto;
		position: relative;
	}

	#u118-4
	{
		margin-bottom: -39px;
		margin-right: -10000px;
		margin-top: 396px;
		width: 48.13%;
		left: 25.94%;
	}

	#u409,#u409-bw
	{
		min-height: 443px;
	}

	#u125
	{
		min-height: 1982px;
		background: -webkit-gradient(linear, left center, right center, from(#53718B),color-stop(100%, #6D4689));
		background: -webkit-linear-gradient(left,#53718B ,#6D4689 100%);
		background: linear-gradient(to right,#53718B ,#6D4689 100%);
	}

	#u125_align_to_page
	{
		max-width: 320px;
	}

	#u125_position_content
	{
		margin-bottom: -26px;
		padding-top: 33px;
		width: 100%;
	}

	#pu122-4
	{
		position: relative;
		width: 100%;
	}

	#u122-4
	{
		margin-right: -10000px;
		width: 84.38%;
		left: 9.38%;
	}

	#u128-4
	{
		margin-right: -10000px;
		margin-top: 118px;
		width: 84.38%;
		left: 9.38%;
	}

	#u763
	{
		background-image: url("../images/imagen-u763-fr2.jpg");
		margin-right: -10000px;
		margin-top: 50px;
		width: 95.94%;
		left: 1.88%;
	}

	#u142-4
	{
		margin-top: 11px;
		width: 71.57%;
		left: 14.07%;
	}

	#pu148-4
	{
		margin-top: 12px;
		position: relative;
		width: 100%;
	}

	#u148-4
	{
		margin-right: -10000px;
		width: 71.57%;
		left: 14.07%;
	}

	#u1464
	{
		background-image: url("../images/imagen1-u1464-fr2.jpg");
		margin-right: -10000px;
		margin-top: 104px;
		width: 95.94%;
		left: 1.88%;
	}

	#u1473
	{
		background-image: url("../images/imagen2-u1473-fr2.jpg");
		margin-right: -10000px;
		margin-top: 604px;
		width: 95.94%;
		left: 1.88%;
	}

	#u1485
	{
		background-image: url("../images/imagen3-u1485-fr2.jpg");
		margin-right: -10000px;
		margin-top: 854px;
		width: 95.94%;
		left: 1.88%;
	}

	#u1497
	{
		background-image: url("../images/imagen4-u1497-fr2.jpg");
		margin-right: -10000px;
		margin-top: 1104px;
		width: 95.94%;
		left: 1.88%;
	}

	#u1509
	{
		background-image: url("../images/imagen5-u1509-fr2.jpg");
		margin-right: -10000px;
		margin-top: 354px;
		width: 95.94%;
		left: 1.88%;
	}

	#u125-bw
	{
		min-height: 1982px;
		margin-top: 67px;
	}

	#u114-4
	{
		margin-top: 75px;
		width: 84.38%;
		margin-left: 9.07%;
	}

	body
	{
		min-width: 318px;
	}
}

