.version.index /* version checker */
{
	color: #00000B;
	background-color: #310CB3;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#page
{
	z-index: 1;
	background-color: transparent;
	margin-left: auto;
	border-width: 0px;
	border-color: #000000;
	background-image: none;
	width: 100%;
	margin-right: auto;
}

#u385,#u385-bw
{
	z-index: 6;
	height: 449px;
}

#u118-4
{
	color: #00EDFF;
	font-weight: 400;
	position: relative;
	min-height: 46px;
	font-family: bebas-neue, sans-serif;
	z-index: 9;
	background-color: transparent;
	text-align: center;
	line-height: 43px;
	font-size: 36px;
}

#u409,#u409-bw
{
	z-index: 7;
}

#pu385,#pu125
{
	width: 100%;
}

#u125
{
	z-index: 8;
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF53718B', endColorstr='#FF6D4689', GradientType=1)";
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF53718B, endColorstr=#FF6D4689, GradientType=1);
	background-size: 100% auto;
}

#u125_align_to_page
{
	margin-left: auto;
	position: relative;
	margin-right: auto;
}

#u122-4
{
	color: #E74C3C;
	font-weight: 400;
	position: relative;
	min-height: 46px;
	font-family: bebas-neue, sans-serif;
	z-index: 13;
	background-color: transparent;
	text-align: center;
	line-height: 43px;
	font-size: 36px;
}

#u128-4
{
	color: #FFFFFF;
	font-weight: 400;
	position: relative;
	min-height: 46px;
	font-family: bebas-neue, sans-serif;
	z-index: 17;
	background-color: transparent;
	text-align: center;
	line-height: 43px;
	font-size: 36px;
}

#u142-4
{
	color: #FFFFFF;
	font-weight: 400;
	position: relative;
	min-height: 49px;
	font-family: bebas-neue, sans-serif;
	z-index: 21;
	background-color: transparent;
	text-align: center;
	line-height: 29px;
	font-size: 24px;
}

#u148-4
{
	color: #FFFFFF;
	font-weight: 400;
	position: relative;
	min-height: 49px;
	font-family: bebas-neue, sans-serif;
	z-index: 25;
	background-color: transparent;
	text-align: center;
	line-height: 29px;
	font-size: 24px;
}

#u125-bw
{
	z-index: 8;
}

#slideshowu1668
{
	z-index: 29;
	position: relative;
	width: 0.01px;
	margin-right: -10000px;
}

#u1681
{
	background-color: transparent;
	position: absolute;
}

#u1681popup
{
	z-index: 30;
}

#u1682
{
	z-index: 31;
	background-color: transparent;
	position: relative;
	border-width: 0px;
	border-color: transparent;
	margin-right: -10000px;
}

#u1829
{
	z-index: 33;
	background-color: transparent;
	position: relative;
	border-width: 0px;
	border-color: transparent;
	margin-right: -10000px;
}

#u1860
{
	z-index: 35;
	background-color: transparent;
	position: relative;
	border-width: 0px;
	border-color: transparent;
	margin-right: -10000px;
}

#u1891
{
	z-index: 37;
	background-color: transparent;
	position: relative;
	border-width: 0px;
	border-color: transparent;
	margin-right: -10000px;
}

#u1922
{
	z-index: 39;
	background-color: transparent;
	position: relative;
	border-width: 0px;
	border-color: transparent;
	margin-right: -10000px;
}

#u1953
{
	z-index: 41;
	background-color: transparent;
	position: relative;
	border-width: 0px;
	border-color: transparent;
	margin-right: -10000px;
}

#u1670-4
{
	border-width: 0px;
	width: 48px;
	position: absolute;
	border-color: transparent;
	text-align: center;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	min-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#u1670-4popup
{
	z-index: 43;
}

#u1679-4
{
	border-width: 0px;
	width: 10px;
	position: absolute;
	border-color: transparent;
	text-align: center;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	min-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#u1679-4popup
{
	z-index: 47;
}

#u1670,#u1679
{
	color: #999999;
}

#u1680-4
{
	border-width: 0px;
	color: #999999;
	width: 10px;
	position: absolute;
	border-color: transparent;
	text-align: center;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	min-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#u1680-4popup
{
	z-index: 51;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton
{
	cursor: pointer;
}

.SSSlideLoading
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u114-4
{
	z-index: 2;
	position: relative;
	min-height: 28px;
}

.html
{
	background-color: #212121;
}

body
{
	position: relative;
}

@media (min-width: 504px)
{
	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 1203px;
		padding-bottom: 81px;
		max-width: 960px;
	}

	#u409,#u409-bw
	{
		height: 443px;
	}

	#u118-4
	{
		margin-top: 17px;
		width: 95.94%;
		margin-left: 2.09%;
	}

	#pu125
	{
		margin-top: 18px;
	}

	#u125
	{
		min-height: 673px;
		background: -webkit-gradient(linear, left center, right center, from(#53718B),color-stop(100%, #6D4689));
		background: -webkit-linear-gradient(left,#53718B ,#6D4689 100%);
		background: linear-gradient(to right,#53718B ,#6D4689 100%);
	}

	#u125_align_to_page
	{
		max-width: 960px;
		padding-top: 12px;
		padding-bottom: 47px;
	}

	#u128-4
	{
		margin-top: 14px;
		width: 95.94%;
		left: 1.98%;
	}

	#u142-4
	{
		margin-top: 411px;
		width: 95.42%;
		left: 1.98%;
	}

	#u122-4,#u148-4
	{
		width: 95.94%;
		left: 1.98%;
	}

	#u125-bw
	{
		min-height: 673px;
	}

	#slideshowu1668
	{
		height: 400px;
		margin-top: 113px;
		margin-left: 50%;
		left: -251px;
	}

	#u1681,#u1682,#u1829,#u1860,#u1891,#u1922,#u1953
	{
		width: 480px;
		height: 360px;
	}

	#u1682_img,#u1829_img,#u1860_img,#u1891_img,#u1922_img,#u1953_img
	{
		margin-left: -11px;
		margin-right: -12px;
	}

	#u1670-4
	{
		top: 360px;
		left: 30px;
	}

	#u1679-4
	{
		top: 360px;
	}

	#u1680-4
	{
		top: 360px;
		left: 98px;
	}

	#u114-4
	{
		margin-top: 56px;
		width: 95.84%;
		margin-left: 2.09%;
	}
}

@media (min-width: 380px) and (max-width: 503px)
{
	#muse_css_mq
	{
		background-color: #0001f7;
	}

	#bp_503.active
	{
		display: block;
	}

	#page
	{
		min-height: 1203px;
		padding-bottom: 81px;
		max-width: 503px;
	}

	#u409,#u409-bw
	{
		height: 443px;
	}

	#u118-4
	{
		margin-top: 17px;
		width: 96.03%;
		margin-left: 1.99%;
	}

	#pu125
	{
		margin-top: 18px;
	}

	#u125
	{
		min-height: 673px;
		background: -webkit-gradient(linear, left center, right center, from(#53718B),color-stop(100%, #6D4689));
		background: -webkit-linear-gradient(left,#53718B ,#6D4689 100%);
		background: linear-gradient(to right,#53718B ,#6D4689 100%);
	}

	#u125_align_to_page
	{
		max-width: 503px;
		padding-top: 12px;
		padding-bottom: 47px;
	}

	#u128-4
	{
		margin-top: 14px;
		width: 96.03%;
		left: 1.99%;
	}

	#u142-4
	{
		margin-top: 411px;
		width: 95.43%;
		left: 1.99%;
	}

	#u122-4,#u148-4
	{
		width: 96.03%;
		left: 1.99%;
	}

	#u125-bw
	{
		min-height: 673px;
	}

	#slideshowu1668
	{
		height: 306px;
		margin-top: 158px;
		margin-left: 50%;
		left: -199px;
	}

	#u1681,#u1682,#u1829,#u1860,#u1891,#u1922,#u1953
	{
		width: 393px;
		height: 265px;
	}

	#u1682_img,#u1829_img,#u1860_img,#u1891_img,#u1922_img,#u1953_img
	{
		margin-top: -8px;
		margin-bottom: -9px;
	}

	#u1670-4
	{
		top: 265px;
		left: 31px;
	}

	#u1679-4
	{
		top: 265px;
		left: 1px;
	}

	#u1680-4
	{
		top: 265px;
		left: 99px;
	}

	#u114-4
	{
		margin-top: 56px;
		width: 95.83%;
		margin-left: 1.99%;
	}
}

@media (min-width: 323px) and (max-width: 379px)
{
	#muse_css_mq
	{
		background-color: #00017b;
	}

	#bp_379.active
	{
		display: block;
	}

	#page
	{
		min-height: 1203px;
		padding-bottom: 81px;
		max-width: 379px;
	}

	#u409,#u409-bw
	{
		height: 443px;
	}

	#u118-4
	{
		margin-top: 17px;
		width: 96.05%;
		margin-left: 2.12%;
	}

	#pu125
	{
		margin-top: 18px;
	}

	#u125
	{
		min-height: 620.8999999999987px;
		background: -webkit-gradient(linear, left center, right center, from(#53718B),color-stop(100%, #6D4689));
		background: -webkit-linear-gradient(left,#53718B ,#6D4689 100%);
		background: linear-gradient(to right,#53718B ,#6D4689 100%);
		padding-bottom: 0px;
	}

	#u125_align_to_page
	{
		max-width: 379px;
	}

	#u125_position_content
	{
		padding-top: 12px;
		padding-bottom: 35px;
		width: 100%;
	}

	#u122-4
	{
		width: 96.05%;
		left: 2.12%;
	}

	#u128-4
	{
		margin-top: 14px;
		width: 96.05%;
		left: 2.12%;
	}

	#u142-4
	{
		margin-top: 312px;
		width: 95.52%;
		left: 0.8%;
	}

	#u148-4
	{
		margin-top: 18px;
		width: 96.05%;
		left: 1.85%;
	}

	#u125-bw
	{
		min-height: 620.8999999999987px;
	}

	#slideshowu1668
	{
		height: 259px;
		margin-top: 174px;
		margin-left: 50%;
		left: -161px;
	}

	#u1681,#u1682,#u1829,#u1860,#u1891,#u1922,#u1953
	{
		width: 329px;
		height: 221px;
	}

	#u1682_img,#u1829_img,#u1860_img,#u1891_img,#u1922_img,#u1953_img
	{
		margin-top: -7px;
		margin-bottom: -8px;
	}

	#u1670-4
	{
		top: 219px;
		left: 33px;
	}

	#u1679-4
	{
		top: 219px;
		left: 3px;
	}

	#u1680-4
	{
		top: 219px;
		left: 101px;
	}

	#u114-4
	{
		margin-top: 56px;
		width: 95.78%;
		margin-left: 2.12%;
	}
}

@media (min-width: 321px) and (max-width: 322px)
{
	#muse_css_mq
	{
		background-color: #000142;
	}

	#bp_322.active
	{
		display: block;
	}

	#page
	{
		min-height: 1196px;
		padding-bottom: 88px;
		max-width: 322px;
	}

	#u409,#u409-bw
	{
		height: 443px;
	}

	#u118-4
	{
		margin-top: 17px;
		width: 95.97%;
		margin-left: 2.18%;
	}

	#pu125
	{
		margin-top: 18px;
	}

	#u125
	{
		min-height: 629.8999999999987px;
		background: -webkit-gradient(linear, left center, right center, from(#53718B),color-stop(100%, #6D4689));
		background: -webkit-linear-gradient(left,#53718B ,#6D4689 100%);
		background: linear-gradient(to right,#53718B ,#6D4689 100%);
		padding-bottom: 0px;
	}

	#u125_align_to_page
	{
		max-width: 322px;
	}

	#u125_position_content
	{
		padding-top: 12px;
		padding-bottom: 35px;
		width: 100%;
	}

	#u122-4
	{
		width: 95.97%;
		left: 1.87%;
	}

	#u128-4
	{
		margin-top: 14px;
		width: 95.97%;
		left: 1.87%;
	}

	#u142-4
	{
		margin-top: 312px;
		width: 95.35%;
		left: 0.94%;
	}

	#u148-4
	{
		margin-top: 18px;
		width: 95.97%;
		left: 1.87%;
	}

	#u125-bw
	{
		min-height: 629.8999999999987px;
	}

	#slideshowu1668
	{
		height: 259px;
		margin-top: 174px;
		margin-left: 50%;
		left: -160px;
	}

	#u1681,#u1682,#u1829,#u1860,#u1891,#u1922,#u1953
	{
		width: 329px;
		height: 221px;
	}

	#u1682_img,#u1829_img,#u1860_img,#u1891_img,#u1922_img,#u1953_img
	{
		margin-top: -7px;
		margin-bottom: -8px;
	}

	#u1670-4
	{
		top: 219px;
		left: 33px;
	}

	#u1679-4
	{
		top: 219px;
		left: 3px;
	}

	#u1680-4
	{
		top: 219px;
		left: 101px;
	}

	#u114-4
	{
		margin-top: 49px;
		width: 84.48%;
		margin-left: 9.01%;
	}
}

@media (max-width: 320px)
{
	#muse_css_mq
	{
		background-color: #000140;
	}

	#bp_320.active
	{
		display: block;
	}

	#page
	{
		min-height: 1196px;
		padding-bottom: 88px;
		max-width: 320px;
	}

	#u409
	{
		min-height: 429px;
		padding-bottom: 14px;
	}

	#u409_align_to_page
	{
		margin-left: auto;
		margin-right: auto;
		position: relative;
	}

	#u118-4
	{
		margin-right: -10000px;
		margin-top: 343px;
		width: 48.13%;
		left: 25.94%;
	}

	#u409-bw
	{
		min-height: 429px;
	}

	#pu125
	{
		margin-top: -3px;
	}

	#u125
	{
		min-height: 662px;
		background: -webkit-gradient(linear, left center, right center, from(#53718B),color-stop(100%, #6D4689));
		background: -webkit-linear-gradient(left,#53718B ,#6D4689 100%);
		background: linear-gradient(to right,#53718B ,#6D4689 100%);
	}

	#u125_align_to_page
	{
		max-width: 320px;
		padding-top: 33px;
		padding-bottom: 23px;
	}

	#u122-4
	{
		width: 84.38%;
		left: 9.38%;
	}

	#u128-4
	{
		margin-top: 32px;
		width: 84.38%;
		left: 9.38%;
	}

	#u142-4
	{
		margin-top: 275px;
		width: 71.57%;
		left: 14.07%;
	}

	#u148-4
	{
		margin-top: 20px;
		width: 71.57%;
		left: 14.07%;
	}

	#u125-bw
	{
		min-height: 662px;
	}

	#slideshowu1668
	{
		height: 236px;
		margin-top: 248px;
		left: 6.25%;
	}

	#u1681,#u1682,#u1829,#u1860,#u1891,#u1922,#u1953
	{
		width: 280px;
		height: 196px;
	}

	#u1682_img,#u1829_img,#u1860_img,#u1891_img,#u1922_img,#u1953_img
	{
		margin-top: -2px;
		margin-bottom: -3px;
	}

	#u1670-4
	{
		top: 196px;
		left: 31px;
	}

	#u1679-4
	{
		top: 196px;
		left: 1px;
	}

	#u1680-4
	{
		top: 196px;
		left: 100px;
	}

	#u114-4
	{
		margin-top: 59px;
		width: 84.38%;
		margin-left: 9.07%;
	}

	body
	{
		min-width: 318px;
	}
}

