	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 1203px;
		padding-bottom: 81px;
		max-width: 960px;
	}

	#u409,#u409-bw
	{
		height: 443px;
	}

	#u118-4
	{
		margin-top: 17px;
		width: 95.94%;
		margin-left: 2.09%;
	}

	#u125
	{
		min-height: 2579.8999999999996px;
		background: -webkit-gradient(linear, left center, right center, from(#53718B),color-stop(100%, #6D4689));
		background: -webkit-linear-gradient(left,#53718B ,#6D4689 100%);
		background: linear-gradient(to right,#53718B ,#6D4689 100%);
		padding-bottom: 0px;
	}

	#u125_align_to_page
	{
		max-width: 960px;
		padding-top: 12px;
		padding-bottom: 50px;
	}

	#u122-4
	{
		width: 95.94%;
		left: 1.98%;
	}

	#u128-4
	{
		margin-top: 14px;
		width: 95.94%;
		left: 1.98%;
	}

	#u763
	{
		background-image: url("../images/imagen.jpg");
		width: 95.94%;
		left: 1.98%;
	}

	#u142-4,#u148-4
	{
		margin-top: 17px;
		width: 94.17%;
		left: 3.75%;
	}

	#u1464
	{
		background-image: url("../images/imagen1.jpg");
		margin-top: 28px;
		width: 95.94%;
		left: 1.98%;
	}

	#u1473
	{
		background-image: url("../images/imagen2.jpg");
		margin-top: 28px;
		width: 95.94%;
		left: 1.98%;
	}

	#u1485
	{
		background-image: url("../images/imagen3.jpg");
		margin-top: 27px;
		width: 95.94%;
		left: 1.98%;
	}

	#u1497
	{
		background-image: url("../images/imagen4.jpg");
		margin-top: 31px;
		width: 95.94%;
		left: 1.98%;
	}

	#u1509
	{
		background-image: url("../images/imagen5.jpg");
		margin-top: 30px;
		width: 95.94%;
		left: 1.98%;
	}

	#u125-bw
	{
		min-height: 2579.8999999999996px;
		margin-top: 18px;
	}

	#u114-4
	{
		margin-top: 56px;
		width: 95.84%;
		margin-left: 2.09%;
	}

