	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 1203px;
		padding-bottom: 81px;
		max-width: 960px;
	}

	#u409,#u409-bw
	{
		height: 443px;
	}

	#u118-4
	{
		margin-top: 17px;
		width: 95.94%;
		margin-left: 2.09%;
	}

	#pu125
	{
		margin-top: 18px;
	}

	#u125
	{
		min-height: 673px;
		background: -webkit-gradient(linear, left center, right center, from(#53718B),color-stop(100%, #6D4689));
		background: -webkit-linear-gradient(left,#53718B ,#6D4689 100%);
		background: linear-gradient(to right,#53718B ,#6D4689 100%);
	}

	#u125_align_to_page
	{
		max-width: 960px;
		padding-top: 12px;
		padding-bottom: 47px;
	}

	#u128-4
	{
		margin-top: 14px;
		width: 95.94%;
		left: 1.98%;
	}

	#u142-4
	{
		margin-top: 411px;
		width: 95.42%;
		left: 1.98%;
	}

	#u122-4,#u148-4
	{
		width: 95.94%;
		left: 1.98%;
	}

	#u125-bw
	{
		min-height: 673px;
	}

	#slideshowu1668
	{
		height: 400px;
		margin-top: 113px;
		margin-left: 50%;
		left: -251px;
	}

	#u1681,#u1682,#u1829,#u1860,#u1891,#u1922,#u1953
	{
		width: 480px;
		height: 360px;
	}

	#u1682_img,#u1829_img,#u1860_img,#u1891_img,#u1922_img,#u1953_img
	{
		margin-left: -11px;
		margin-right: -12px;
	}

	#u1670-4
	{
		top: 360px;
		left: 30px;
	}

	#u1679-4
	{
		top: 360px;
	}

	#u1680-4
	{
		top: 360px;
		left: 98px;
	}

	#u114-4
	{
		margin-top: 56px;
		width: 95.84%;
		margin-left: 2.09%;
	}

